In [1]:
import warnings
warnings.filterwarnings('ignore')

In [2]:
import numpy as np
import pandas as pd
from pathlib import Path
from collections import Counter

In [51]:
df = pd.read_csv('Resources/LoanStats_2019Q1.csv')

In [23]:
len(df.columns.tolist())

144

In [9]:
x_cols = [i for i in df.columns if i not in ('id', 'member_id', 'loan_status')]
X = df[x_cols]
y = df['loan_status']

In [49]:
X

,loan_amnt,funded_amnt,funded_amnt_inv,term,int_rate,installment,grade,sub_grade,emp_title,emp_length,...,orig_projected_additional_accrued_interest,hardship_payoff_balance_amount,hardship_last_payment_amount,debt_settlement_flag,debt_settlement_flag_date,settlement_status,settlement_date,settlement_amount,settlement_percentage,settlement_term
0,20000.0,20000.0,20000.0,60 months,17.19%,499.10,C,C5,Front desk supervisor,6 years,...,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN
1,21225.0,21225.0,21225.0,60 months,14.74%,502.05,C,C2,ceo,10+ years,...,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN
2,5000.0,5000.0,5000.0,36 months,17.97%,180.69,D,D1,NaN,NaN,...,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN
3,20000.0,20000.0,20000.0,36 months,8.19%,628.49,A,A4,Executive Director of Guardian Advantage,1 year,...,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN
4,12000.0,12000.0,12000.0,60 months,15.57%,289.09,C,C3,Computer Operator,5 years,...,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
115672,16000.0,16000.0,16000.0,36 months,16.14%,563.62,C,C4,Estimator/Supervisor,10+ years,...,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN
115673,16000.0,16000.0,16000.0,60 months,11.31%,350.36,B,B3,MATERIAL HANDLER,5 years,...,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN
115674,29250.0,29250.0,29250.0,60 months,18.94%,757.80,D,D2,sr register csa,7 years,...,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN
115675,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
115676,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [25]:
y

0          Issued
1          Issued
2          Issued
3          Issued
4          Issued
           ...
115672    Current
115673    Current
115674    Current
115675        NaN
115676        NaN
Name: loan_status, Length: 115677, dtype: object

In [52]:
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()
df2 = df.copy()
df2["grade"] = le.fit_transform(df["grade"])
df2.head()

TypeError: Encoders require their input to be uniformly strings or numbers. Got ['float', 'str']

In [41]:
grades = []
for i in X.grade:
    if i in grades:
        pass
    else:
        grades.append(i)
        
grades = grades[:-1]
grades = sorted(grades)
grades

['A', 'B', 'C', 'D', 'E', 'F', 'G']

In [46]:
grade_num = {
    "A": 1,
    "B": 2,
    "C": 3,
    "D": 4,
    "E": 5,
    "F": 6,
    "G": 7
}

In [47]:
X["grade_num"] = X["grade"].apply(lambda x: grade_num[x])
X.grade_num

KeyError: nan