In [3]:
import pandas as pd

In [6]:
df = pd.read_csv("Resources/diabetes.csv")
df.head()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,6,148,72,35,0,33.6,0.627,50,1
1,1,85,66,29,0,26.6,0.351,31,0
2,8,183,64,0,0,23.3,0.672,32,1
3,1,89,66,23,94,28.1,0.167,21,0
4,0,137,40,35,168,43.1,2.288,33,1

In [8]:
# seperate the features X from the target y
y = df.Outcome
X = df.drop(columns="Outcome")

In [9]:
y

0      1
1      0
2      1
3      0
4      1
      ..
763    0
764    0
765    0
766    1
767    0
Name: Outcome, Length: 768, dtype: int64

In [10]:
X

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age
0,6,148,72,35,0,33.6,0.627,50
1,1,85,66,29,0,26.6,0.351,31
2,8,183,64,0,0,23.3,0.672,32
3,1,89,66,23,94,28.1,0.167,21
4,0,137,40,35,168,43.1,2.288,33
...,...,...,...,...,...,...,...,...
763,10,101,76,48,180,32.9,0.171,63
764,2,122,70,27,0,36.8,0.340,27
765,5,121,72,23,112,26.2,0.245,30
766,1,126,60,0,0,30.1,0.349,47
767,1,93,70,31,0,30.4,0.315,23

In [16]:
# split our data into training and testing
from sklearn.metrics import confusion_matrix, classification_report
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=1, stratify=y)
X_train

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age
610,3,106,54,21,158,30.9,0.292,24
681,0,162,76,36,0,49.6,0.364,26
706,10,115,0,0,0,0.0,0.261,30
281,10,129,76,28,122,35.9,0.280,39
625,4,90,88,47,54,37.7,0.362,29
...,...,...,...,...,...,...,...,...
214,9,112,82,32,175,34.2,0.260,36
137,0,93,60,25,92,28.7,0.532,22
645,2,157,74,35,440,39.4,0.134,30
17,7,107,74,0,0,29.6,0.254,31
746,1,147,94,41,0,49.3,0.358,27

In [17]:
X_train.shape

(576, 8)

In [21]:
from sklearn.linear_model import LogisticRegression
classifier = LogisticRegression(solver='lbfgs', max_iter=200, random_state=1)

In [22]:
# fit training or model using the training data
classifier.fit(X_train, y_train)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
                   intercept_scaling=1, l1_ratio=None, max_iter=200,
                   multi_class='auto', n_jobs=None, penalty='l2',
                   random_state=1, solver='lbfgs', tol=0.0001, verbose=0,
                   warm_start=False)

In [24]:
# ,ake a prediction
y_prediction = classifier.predict(X_test)
results = pd.DataFrame({"Predictions": y_prediction,
                        "Actual": y_test}).reset_index(drop=True)
results

     Predictions  Actual
0              0       0
1              1       1
2              0       0
3              1       1
4              0       0
..           ...     ...
187            1       1
188            0       0
189            0       0
190            0       0
191            0       0

[192 rows x 2 columns]

In [26]:
from sklearn.metrics import accuracy_score
print(accuracy_score(y_test, y_prediction))

0.7760416666666666

In [30]:
from sklearn.metrics import confusion_matrix, classification_report
matrix = confusion_matrix(y_test, y_prediction)
print(matrix)

[[113  12]
 [ 31  36]]

In [32]:
report = classification_report(y_test, y_prediction)
print(report)

              precision    recall  f1-score   support

           0       0.78      0.90      0.84       125
           1       0.75      0.54      0.63        67

    accuracy                           0.78       192
   macro avg       0.77      0.72      0.73       192
weighted avg       0.77      0.78      0.77       192