In [6]:
from path import Path
import numpy as np
import pandas as pd

df = pd.read_csv('Resources/loans.csv')
df.head()

     assets  liabilities    income  credit_score  mortgage   status
0  0.210859     0.452865  0.281367      0.628039  0.302682     deny
1  0.395018     0.661153  0.330622      0.638439  0.502831  approve
2  0.291186     0.593432  0.438436      0.434863  0.315574  approve
3  0.458640     0.576156  0.744167      0.291324  0.394891  approve
4  0.463470     0.292414  0.489887      0.811384  0.566605  approve

In [7]:
# separate the features X from target y
y = df.status
X = df.drop(columns='status')

In [8]:
y

0        deny
1     approve
2     approve
3     approve
4     approve
       ...
95    approve
96       deny
97    approve
98    approve
99    approve
Name: status, Length: 100, dtype: object

In [9]:
X

      assets  liabilities    income  credit_score  mortgage
0   0.210859     0.452865  0.281367      0.628039  0.302682
1   0.395018     0.661153  0.330622      0.638439  0.502831
2   0.291186     0.593432  0.438436      0.434863  0.315574
3   0.458640     0.576156  0.744167      0.291324  0.394891
4   0.463470     0.292414  0.489887      0.811384  0.566605
..       ...          ...       ...           ...       ...
95  0.360945     0.823295  0.542451      0.224285  0.328504
96  0.114420     0.107174  0.619564      0.370300  0.047719
97  0.309276     0.692433  0.483730      0.328953  0.304493
98  0.549153     0.301588  0.651869      0.717826  0.602004
99  0.448187     0.217651  0.388670      0.968609  0.606231

[100 rows x 5 columns]

In [15]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=1, stratify=y)
print(f"X_train.shape {X_train.shape}")
print(f"X_test.shape {X_test.shape}")

X_train.shape (75, 5)
X_test.shape (25, 5)

In [18]:
# create svm model
# support vector machine

from sklearn.svm import SVC
model = SVC(kernel="linear")

In [20]:
# fit (train) or model using the training data

model.fit(X_train, y_train)

SVC(C=1.0, break_ties=False, cache_size=200, class_weight=None, coef0=0.0,
    decision_function_shape='ovr', degree=3, gamma='scale', kernel='linear',
    max_iter=-1, probability=False, random_state=None, shrinking=True,
    tol=0.001, verbose=False)

In [22]:
# make a prediction

y_predictions = model.predict(X_test)
results = pd.DataFrame({
    "Predictions": y_predictions,
    "Actual": y_test
}).reset_index(drop=True)
results.head()

  Predictions   Actual
0     approve     deny
1        deny  approve
2        deny     deny
3     approve     deny
4        deny     deny

In [23]:
from sklearn.metrics import accuracy_score
accuracy_score(y_test, y_predictions)

0.6

In [26]:
# generate confusion matrix
from sklearn.metrics import confusion_matrix
confusion_matrix(y_test, y_predictions)

array([[7, 5],
       [5, 8]], dtype=int64)

In [27]:
from sklearn.metrics import classification_report
print(classification_report(y_test, y_predictions))

              precision    recall  f1-score   support

     approve       0.58      0.58      0.58        12
        deny       0.62      0.62      0.62        13

    accuracy                           0.60        25
   macro avg       0.60      0.60      0.60        25
weighted avg       0.60      0.60      0.60        25